<% include ../partials/head %>

<div>
    <h2><%= camp.name %></h2>
    <img src="<%=camp.image%>">
    <p><%- camp.content %></p>
    <p>
        <a class="btn btn-primary" href="/campgrounds/<%= camp._id %>/comments/new">Add Comment</a>
    </p>
    <% camp.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
    <% }); %>
</div>

<% include ../partials/foot %>