<% include ../partials/head %>

<div class ="container" id="comment-padding">
    <div class="row">
        <div class="col col-md-3">
            <p class="lead">VabCamp</p>
            <div class="list-group">
                <li class="list-group-item active">List Item(Demo) 1</li>
                <li class="list-group-item">List Item(Demo) 2</li>
                <li class="list-group-item">List Item(Demo) 3</li>
            </div>
            <div id="map"></div>
        </div>
        <div class="col col-md-9">
            <!--Thumbnail-->
            <div class="thumbnail">
                <img class="img-responsive" src="<%=camp.image%>">
                <div class="caption">
                    
                    <h4 class="pull-right">Rs.<%=camp.price%>/Night</h4>
                    <h4>
                        <a href="">
                            <%= camp.name %>
                        </a>
                    </h4>
                    <p>
                        <em>Submitted By - 
                            <span class="text-capitalize"><%= camp.author.username %>, <%= moment(camp.createdAt).fromNow() %></span>
                        </em>
                    </p>
                    <p><%- camp.content %></p>
                    <% if(thisUser && camp.author.id.equals(thisUser._id)){ %>
                        <div>
                            <a class="btn btn-warning" href="/campgrounds/<%= camp._id %>/edit">Edit</a>
                            <form id="delete-form" method="POST" action="/campgrounds/<%=camp._id%>?__method=DELETE">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    <% } %>
                </div>
            </div><!--Thumbnail ends-->
            
            <!--Comment Section-->
            <div class = "well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= camp._id %>/comments/new">Add Comment</a>
                </div>
                <hr>
                
                <div class="row">
                    <div class="col-12">
                        <% camp.comments.forEach(function(comment){ %>
                            <strong class="userCase" id="comment-author"><%= comment.author.username %></strong>
                            
                            <% if(thisUser && comment.author.id.equals(thisUser._id)){ %>
                                    <a class="btn btn-xs btn-warning" href="/campgrounds/<%= camp._id %>/comments/<%= comment._id %>/edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
                                    <form id="delete-form" method="POST" action="/campgrounds/<%=camp._id%>/comments/<%= comment._id %>?__method=DELETE">
                                        <button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                    </form>
                            <% } else if(thisUser && camp.author.id.equals(thisUser._id)){ %>
                                    <form id="delete-form" method="POST" action="/campgrounds/<%=camp._id%>/comments/<%= comment._id %>?__method=DELETE">
                                        <button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                    </form>
                            <% } %>
                            
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p><%= comment.text %></p>
                        <% }); %>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>



<script>
  function initMap() {
    var lat = <%= camp.lat %>;
    var lng = <%= camp.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= camp.name %><br />
      <%= camp.location %></strong>
      <p><%= camp.content %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0Qh9rZLGz8lBM8XNYYdbRg5jhwVxSd00&callback=initMap"></script>


<% include ../partials/foot %>